.card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: scale(1.05); /* Scales the card to 105% of its original size on hover */
  }
  